*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.main_cointainer{
width: 100%;
height: 100%;
}
/*header _ part*/
.logo {
    position: absolute;
    display: flex;
    align-items: center; 
    justify-content: center; 
    color: #333;
    font-family: Arial, sans-serif;
    top: 10px;
    left: 20px;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px; 
}

.logo h1 {
    font-size: 30px; 
    margin: 0; 
}

.header_part{
    height: 25%; 
}
.nav_icon{
    margin-top: 5px;
    height: 40px;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav_icon a{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-left: 2rem;
    text-decoration: none;
    color: gray;
    font-weight: 900;
    font-size: 18px;
    transition: 1s;
    border-radius: 15px;
}
.nav_icon a:hover{
    background-color: orange;
    color: white;
}
.nav_icon a:focus{
    background-color: rgba(255, 166, 0, 0.582);
    color: gray;
}
.icon{
    width: 20px;
    height: 20px;
}
#form_box {
    width: 45%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 25%;
}

#input_box {
    outline: none;
    color: gray;
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: rgba(255, 166, 0, 0.651);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: orange;
}
/*body_page_result */

#body_page_result{
    width: 99%;
    margin: 20px auto;
    display: grid;
    margin-left: 5px;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}
#body_page_result img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: 1s;
}
#body_page_result img:hover{
    box-shadow: 0px 0px 20px #0f0707;
}
#body_page_result img:hover .downlode_key{
    display: block;
}
/*downlode_key*/
.image-container:hover .downlode_key{
    display: block;
}
.downlode_key{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.671);
    z-index: 99;
    display: none;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    border-radius: 20px;
    background-color: rgba(137, 43, 226, 0.308);
    padding: 10px;
}
/*my_avather*/

.my_avather {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#my_details {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-left: 20px;
}

#my_details h3 {
    margin: 0; 
}

#my_details span {
    color: #666; 
}
/*footer*/
.footer {
    background-color: rgba(114, 75, 3, 0.514);
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: rgba(255, 255, 255, 0.582);
}

.footer .card_1,
.footer .card_2 {
    width: 250px;
}

.footer ul,
.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 25px;
}

.footer ul li img {
    width: 20px;
    height: auto;
    margin-right: 10px;
}
.footer ul li a{
    text-decoration: none;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.596);
    font-size: 25px;
    font-weight: 900;
}

.footer h4 {
    color: rgba(243, 241, 236, 0.39);
    margin-bottom: 10px;
}
.logo_name{
    margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  font-size: 40px;
}
.line{
    color: #66666693;
    font-size: 15px;
    position: absolute;
    right: 20px;
    margin-top: 13%;
}
